nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 3px 12px gray;
    height: 5rem;
    z-index: 1;
}

nav ul {
    display: flex;
    margin-right: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    opacity: 0.4;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: start;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open {
        display: flex;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}

@media (min-width: 481px) {
    nav .nav-menu {
        display: none;
    }
    nav ul {
        display: flex;
        margin-right: 2rem;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li a {
        display: block;
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        padding: 0 0.5rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
    }
    nav ul li a:hover {
        opacity: 0.4;
    }
}

.mobile-menu {
    display: none;
    flex-direction: column;
    /* background: rgb(0, 128, 0); */
    color: white;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 8px 3px 12px gray;
}

@media (max-width:767px) {
    .mobile-menu-btn {
        display: block;
    }
    .mobile-menu.show {
        display: flex;
    }
}